html {
    font-family: sans-serif
}

.datasets {
    font-family: monospace;
    margin: 20px;
    border-spacing: 0;
    td {
        padding: 3px 5px;
    }
}

.chart {
    width: 260px;
    float: left;
    margin: 20px;
    border-top: 1px solid black;
}

.today {
    background-color: #FF4136;
    color: #800600;
    a {
        color: #fff;
    }
}

.label {
    border-radius: 2px;
    padding: 3px;
    font-size: 11px;
}