<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright" content="FT中文网">
        <meta name="robots" content="index,follow">
        <meta name="author" content="FTC Interactive Graphics"> 
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        
        <meta property="og:title" content="{{ogTitle}}"/>
        <meta property="og:type" content="{{ogType}}"/>
        <meta property="og:image" content="{{ogImage}}"/>
        <meta property="og:url" content="{{ogUrl}}">
        <meta property="og:description" content="{{description}}" />
        <meta property="og:locale" content="zh-Hans">
        <meta property="og:site_name" content="FT中文网">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@FTChinese">
        <meta name="twitter:title" content="{{ogTitle}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{ogImage}}">
        <!-- TODO:待弄清楚这些meta的全部含义-->

        <link rel="stylesheet" href="styles/main.css">
	    <title>Economic Data Autograph</title>

    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>